/** HEADER STUFF **/
#header-nav {
	background-color: #6bd2db;
	height: 120px;
	position: relative;
}

#food-item-chicken{
	background-color: #ffbe4f;
	width: 93%;
	margin: 12px auto;
}
#food-item-beef{
	background-color: #ffbe4f;
	width: 93%;
	margin: 18px auto;
}
#food-item-sushi{
	background-color: #ffbe4f;
	width: 93%;
	margin: 18px auto;
}

#nav-list{
	background-color: #ffff00;
}

#nav-list li {
	border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0;
  }
