/** HEADER STUFF **/
#header-nav {
	background-color: #6bd2db;
	height: 120px;
	position: relative;
}

#food-item-chicken, #food-item-beef, #food-item-sushi{
	background-color: #ffbe4f;
	width: 100%;
	padding: 21px;
	margin: 12px auto;
}

#nav-list{
	background-color: #ffff00;
}

#nav-list li {
	border-bottom: 1px solid black;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0;
  }
